.navbar {
    /* background: green; */
}

.tab-1 {
    height: 400px;
    width: auto;

}

.card {
    width: 800px;
    margin: auto;
}

.feed-container {
    background-color: rgb(212, 212, 212);
}
